= form_for @seal_code do |f|
  - if @seal_code.errors.any?
    #error_explanation
      %h2= "#{pluralize(@seal_code.errors.count, "error")} prohibited this seal_code from being saved:"
      %ul
        - @seal_code.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :from_branch, "Enviado desde"
    - preselected_value = (@seal_code.from_branch.present?) ? @seal_code.from_branch : nil
    - opts = options_from_collection_for_select(Branch.all.order(:code), :id, :namecode, preselected_value)
    = f.select :from_branch, opts, {:include_blank => true}
  .field
    = f.label :to_branch, "Recibido en"
    - preselected_value = (@seal_code.to_branch.present?) ? @seal_code.to_branch : nil
    - opts = options_from_collection_for_select(Branch.all.order(:code), :id, :namecode)
    = f.select :to_branch, opts, {:include_blank => true}
  .field
    = f.label :date
    = f.datetime_select :date
  .field
    = f.label :barcode
    = f.text_field :barcode
  .field
    = f.label :received_by
    = f.text_field :received_by
  .field
    = f.label :supposely_contains
    = f.number_field :supposely_contains
  .field
    = f.label :goldreport
    = f.text_field :goldreport
  .actions
    = f.submit 'Save'
