%h1 Listing seal_codes

%table
  %thead
    %tr
      %th From branch
      %th To branch
      %th Date
      %th Barcode
      %th Received by
      %th Supposely contains
      %th Goldreport
      %th Silverreport
      %th
      %th
      %th

  %tbody
    - @seal_codes.each do |seal_code|
      %tr
        %td= seal_code.from_branch
        %td= seal_code.to_branch
        %td= seal_code.date
        %td= seal_code.barcode
        %td= seal_code.received_by
        %td= seal_code.supposely_contains
        %td= seal_code.goldreport
        %td= seal_code.silverreport
        %td= link_to 'Show', seal_code
        %td= link_to 'Edit', edit_seal_code_path(seal_code)
        %td= link_to 'Destroy', seal_code, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Seal code', new_seal_code_path
