%h1 Editing gold_report

= render 'form'


= button_to "Send for Approval", {:action => "preapprove" }, {:class => "btn-default btn" }
= button_to " Approve", {:action => "approve" }, {:class => "btn-default btn" }


= link_to 'Show', @gold_report
\|
= link_to 'Back', gold_reports_path
