%h1 Reportes de Oro

%table.table.table-striped
  %thead
    %tr
      %th ID
      %th Fecha
      %th Sucursal
      %th Capital Empeñado
      %th Capital Comprado
      %th Peso Exportado (g)
      %th Estado
      %th
      %th
      %th

  %tbody
    - @gold_reports.each do |gold_report|
      %tr
        %td= gold_report.id
        %td= gold_report.end_date
        %td= gold_report.branch.name if gold_report.branch_id?
        %td= gold_report.pawned_capital
        %td= gold_report.bought_capital
        %td= gold_report.export_real_weight
        %td= gold_report.aasm_state
        %td= link_to 'Show', gold_report
        %td= link_to 'Edit', edit_gold_report_path(gold_report)
        %td= link_to 'Destroy', gold_report, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Gold report', new_gold_report_path
